@font-face {
  font-family: Nunito;
  src: url(./font/Nunito-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
.fixed-top {
  z-index: 1;
}

#cars4u {
  background-color: #eee;
}
#service {
  background-color: #eee;
}
#about {
  background-color: #eee;
}
#contact {
  background-color: #eee;
}
#compare {
  background-color: #eee;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
.searchlist::-webkit-scrollbar {
  width: 6px;
}
.menu-items1::-webkit-scrollbar {
  width: 7px;
}
.modal::-webkit-scrollbar {
  width: 5px;
}
.rsc::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(131, 131, 131);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32);
}

h1 {
  font-weight: bolder;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
  border-radius: 50px;
  height: 45px;
}

.signin {
  background: transparent;
  height: 45px;
  font-size: 17px;
  color: #f4ca3e;
  transition: 0.5s;
}
.signin:hover {
  background-color: #9f6000;
  color: white;
}
.btn {
  border-radius: 50px;
}
.forbtn.btn {
  border-radius: 50px;
  height: 45px;
  padding-top: 10px;
  box-shadow: 0px 0px 1px 1px #c0bebe;
  text-decoration: none;
  font-size: 17px;
  background-color: #e43c5c;
}

.btn.view:hover {
  background-color: #e61e43;
  color: white;
  transition: 0.5s;
}
.forbtn.btn:hover {
  background-color: #e61e43;
  color: white;
}
.border-danger {
  background-color: white;
  border-width: 1.7px 1.7px 1.7px 1.7px;
}
.navbar {
  height: 80px;
}
.navbar.active {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

#hero {
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: -1;
  height: 100vh;
}

.all {
  background: rgba(0, 0, 0, 0.6);
}
.back {
  height: 100vh;
  object-fit: cover;
  position: fixed;
}
#hero:before {
  content: "";
  background: rgba(226, 192, 192, 0.6);
  position: absolute;
  bottom: 0;
  top: -15;
  left: 0;
  right: 0;
}
.B.active {
  background: rgba(0, 0, 0, 0.6); 
}
.navbar-brand {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: #cfcedb;
}

.menu_active {
  border-bottom: 2px solid #e43c5c;
}

.hello {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #e43c5c;
  line-height: 40px;
  color: black;
  transition: transform 0.7s ease-in-out;
}
.hello:hover {
  background-color: #e61e43;
  transform: rotate(360deg);
}
.hello1 {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: rgb(252, 221, 226);
  line-height: 48px;
  color: #e43c5c;
  transition: 0.7s;
  cursor: pointer;
}
.hello1:hover {
  background-color: #e61e43;
  color: white;
}

.nav-link:hover {
  border-bottom: 2px solid #e61e43;
}
.text-warning:hover {
  cursor: pointer;
  text-decoration: underline;
}
.fshadow li {
  color: white;
}
.fshadow li:hover {
  cursor: pointer;
  color: #ffc400;
}
.hey {
  min-width: 400px;
}
.down {
  background-color: #dfdede2d;
  padding-bottom: 65px;
  height: auto;
}
.tag {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(252, 221, 226);
  color: #e43c5c;
  font-weight: bolder;
  font-size: 17px;
}
.fshadow {
  box-shadow: 0px 2px 14px 2px gray;
  position: relative;
  z-index: 1;
}
.zxx {
  background-color: rgba(0, 0, 0, 0.6);
}
.footer {
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.close {
  cursor: pointer;
}

.C {
  --bs-gutter-x: 0rem;
  border-radius: 2px;
}
.D {
  margin-top: 140px;
  padding-left: 15px;
}


.cardhover {
  z-index: 0;
  border-radius: 8px;
  border: none;
}

.cardhover::before {
  content: "";
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
  color: white;
}
.cardhover:hover {
  color: white;
}
.cardhover:hover::before {
  background: #e43c5c;
  top: 0;
}
.col-auto {
  margin-top: -10px;
}
.line {
  font-size: 12px;
}
.map {
  height: 400px;
}
.carscard img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.carscard:hover img {
  top: -30px;
}
.carscard {
  margin-bottom: 30px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 2px 5px 0px #aaaaaa;
  color: black;
  background-color: #58c6bb;
}

.comparecard {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.comparecard:hover {
  top: -15px;
}
.fa-arrow-circle-right {
  font-size: 60px;

  font-weight: 400;
}
.comparearrow {
  font-size: 60px;
  font-weight: 400;
  left: 0;
  right: 0;
  top: 41%;
  bottom: 0;
  position: absolute;
}
.imgH{
  max-height: 600px;
}
.arrow2 {
  opacity: 0;
  position: absolute;
  left: 2%;
  right: 2%;
  top: 2%;
  bottom: -9%;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
}
.effects:hover .arrow2 {
  opacity: 1;
}
.effects {
  box-shadow: 0 -19px 19px 2px rgba(0, 0, 0, 0.1) !important;
}
.arrow {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
}
.arrow3 {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
}
.vsicon {
  position: absolute;
  top: 0;
  bottom: 0;
}
.carscard:hover .arrow {
  opacity: 1;
}
.comparecard:hover .arrow3 {
  opacity: 1;
}
.vs {
  opacity: 1;

  position: absolute;
  font-size: 20px;
  background-color: black;
  border-radius: 50px;
}
.details {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  transition: all ease-in-out 0.3s;
  background: #e43c5c;
  padding: 12px 20px;
}
.carscard:hover .details {
  opacity: 1;
  bottom: 0;
  color: white;
}

ul {
  padding-left: 0px;
}

.popup {
  max-height: 400px;
}
.modal-fullscreen {
  height: fit-content;
}
.rate {
  padding-top: -2px;
}
.ratethiscar {
  background-color: rgb(202, 198, 198);
  color: black;
  font-size: 15px;
}
.slick-prev:before,
.slick-next:before {
  background-color: black;
  padding-top: 4px;
  padding-bottom: -1px;

  padding-right: 1px;
  border-radius: 50px;
}
.slick-prev:before {
  margin-right: 60px;
}
.sliderRate {
  margin-top: -11px;
}
.fasize {
  font-size: 60px;
}
.facar {
  font-size: 50px;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.tagline {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  animation: 1.8s ease-out 0s 1 slideIn;
}
.animation{
  animation: 1.5s ease-out 0s 1 slideIn;
}
  
.tagline h1 {
  font-size: 48px;
}
.hero-container h1 {
  padding: 10px 30px;
  font-size: 26px;
  margin-bottom: 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.tagline a {
  border-width: 2px;

  background-color: transparent;
  border-color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 8px 30px 9px 30px;
  transition: 0.5s;
}
.tagline a:hover {
  background-color: #e43c5c;
  font-weight: 400;
  border-color: #e43c5c;
}
.rateback {
  background-color: #58c6bb;
}

.modalcompare {
  background-color: #f8f8f8;
}
.modal-backdrop {
  position: unset;
}
.basicinfo {
  padding-top: 12px;
  padding-bottom: 12px;
}
.tab.active {
  color: black;
  border-bottom: 2.5px solid #e43c5c;
}

.hometab {
  cursor: pointer;
  display: inline-block;
  transition: all ease-in-out 0.3s;
  background: #d3d2d2;
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 50px;
}
.hometab:hover,
.hometab.active {
  color: #fff;
  background: #e43c5c;
}
.modal {
  overflow-y: overlay;
  position: fixed;
  overflow-x: hidden;
  z-index: 999 !important;
}

.backtotop {
  position: fixed;
  float: right;
  z-index: 999;
  top: 92%;
}
.back.active {
  display: block;
}
.menu-items1 {
  max-width: 1300px;
  max-height: 70vh;
  overflow: auto;
}
.nav-tabs {
  border-bottom: none;
}
.cardH.card {
  min-height: 312px;
  max-height: 312px;
}
.swal-text {
  font-weight: bolder;
  font-size: 20px;
  color: rgb(44, 43, 43);
}
.animatedarrow {
  width: 60px;
  position: absolute;
  top: 90%;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.733);
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999 !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay h2 {
  padding-top: 15vh;
}
.search.form-control {
  outline: none;
  width: 0px;
  display: block;
  border-radius: 70px;
  padding: 13.2px;
  border-color: #e43c5c;
  background-color: rgba(156, 152, 152, 0.6);
  border-width: 7px;

  box-shadow: none;
  transition: all 0.5s linear;
}

.closesearch {
  display: block;
  font-size: 48px;
  margin-top: 70px;
  z-index: 999 !important;
  cursor: pointer;
}
.searchlist li:hover {
  background-color: rgba(255, 255, 255, 0.247);
  cursor: pointer;
  font-size: 20px;
  border-left: 2px solid #e43c5c;
  color: #ffc400;
}

.searchlist li {
  cursor: pointer;
  font-size: 19px;
  color: white;
}
.searchlist {
  height: 40vh;
  overflow-y: scroll;
  display: none;
  transition: 0.5s ease-in-out;
}
.searchbtn {

  border-radius: 50px;
  background-color: #e43c5b71;
  font-size: 30px;
  margin-top: 1px;
  padding: 16.7px 17px;
  cursor: pointer;
}

.searchbox:hover > .search.form-control {
  width: 150vh;
}

.emailInput {
  outline: none;
  display: block;
  border-radius: 70px;
  padding: 11px;
  background-color: rgba(156, 152, 152, 0.815);
  box-shadow: none;
  max-width: 500px;
  border: none;
  transition: all 0.5s linear;
}
.subscribe.btn {
  border-radius: 50px;
  background-color: #e43c5bc9;
  padding: 10px 17.5px;
  cursor: pointer;
  transition: 0.5s;
}
.subscribe.btn:hover {
  background-color: #e61e43;
  color: white;
}
.emailInput::placeholder {
  color: black;
}
.form-control:focus {
  border-color: #e43c5c;
  box-shadow: none;
  outline: none;
}
.logobg {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.logocard {
  min-height: 155px;
}
.latestcard {
  min-height: 396px;
}
.upcomingcard {
  min-height: 286px;
}
.recommendedcard {
  min-height: 302px;
}

.smallcard {
  position: relative;
  top: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 15px;
}
.smallcard:hover {
  color: #e61e43;
  top: -10px;
}
#logout{
  display: none;
}
#signin{
  display: block;
}
#signup{
  display: block;
}











.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: rgb(160, 211, 185);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front{
background: url("./images/signup.gif");
background-repeat: no-repeat;
}
.flip-card-front.login{
  background: url("./images/signin.gif");
}
.frontbg{
  background-color: rgba(0, 0, 0, 0.6);
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back.card {
  background-color: rgb(160, 211, 185);
  border: none;
}
.newsmargin{
  margin-top: 155px;
}
.justify{
text-align: justify;
font-size: 20px;
}
.justifymodal{
text-align: justify;
font-size: 17px;
}
.justifymodaldes{
text-align: justify;
font-size: 20px;
}
.newsletter.btn{
  border-width: 2px;
  background-color: transparent;
  border-color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 8px 30px 9px 30px;
  transition: 0.9s;
}
.newsletter.btn:hover{
  background-color: #e43c5c;
  border-color: #e43c5c;
  color: white;
}
.justifycenter{
  text-align: center;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.chatbot{
  position: fixed;
  top: 18%;
  transition: 0.8s;
  z-index: 1;
  right: 5.5%;
}
.chatbtn{
  position: fixed;
  bottom: 11%;
  cursor: pointer;
  background-image: url("https://tars-file-upload.s3.amazonaws.com/HJGsEj/5daaa9c011ab7047c64d8ee2bf6a8ae4--ezgif.com-resize1.gif");
  border-radius: 10px;
  z-index: 1;
  right: 1%;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
#popbtn{
  display: block;
  animation: 1.5s ease-out 0s 1 slideInLeft;
}
#popbtn1{
  display: none;
}
.cut{
  top: 5%;
  z-index: 1;
  cursor: pointer;
  right: 0%;
  color: white;
  position: absolute;
}
#chat{
 display: none;
 transition: 0.8s;
}
